# compiled output
/dist
/node_modules
/youbrary-server/authentication-microservice/dist
/youbrary-server/authentication-microservice/node_modules
/youbrary-server/book-microservice/dist
/youbrary-server/book-microservice/node_modules
/youbrary-server/user-microservice/dist
/youbrary-server/user-microservice/node_modules
/youbrary-client/dist
/youbrary-client/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json