<div class="footer">
    <div class="footer-banner"></div>
    <div class="footer-container">
      <div class="sections-container">
        <div class="contact">
          <span class="contact-title">CONTACT</span>
          <span class="phone-number">+40712345678</span>
          <span class="contact-email">support@youbrary.com</span>
        </div>
        <div class="information">
            <span class="clickable-footer-text">About Us</span>
            <span class="clickable-footer-text">Data Privacy</span>
            <span class="clickable-footer-text">Terms and Conditions</span>
            <span class="clickable-footer-text">Payment and Shipment</span>
        </div>
        <div class="newsletter">
            <label id="name-label" for="name">Name</label>
            <input id="name" class="contact-input" type="text" placeholder="Name">
            <label id="email-label" for="email">Email</label>
            <input id="email" class="contact-input" type="text" placeholder="Email">
            <span class="subscribe-text">Subscribe to newsletter</span>
        </div>
      </div>
      <div class="social-container">
          <img class="footer-logo" src="assets/logo-yellow.png" alt="Youbrary Logo" />
          <div class="social-images">
            <a href="https://www.facebook.com/" class="social-image-link" target="_blank">
              <img class="social-image" src="./assets/facebook.png" alt="Youbrary Facebook Page" />
            </a>
            <a href="https://www.instagram.com/" class="social-image-link" target="_blank">
              <img class="social-image" src="./assets/instagram.png" alt="Youbrary Instagram Page" />
            </a>
            <a href="https://www.twitter.com/" class="social-image-link" target="_blank">
              <img class="social-image" src="./assets/twitter.png" alt="Youbrary Twitter Page" />
            </a>
          </div>
      </div>
    </div>
  </div>